.blog-list-container {
  display: flex !important;
  flex-wrap: wrap !important; /* Allows cards to fill the white space */
  justify-content: center !important;
  width: 90% !important;
  max-width: 1200px;
  padding: 0;
  list-style-type: none;
  margin: 0 auto;
}